.header-container{
  h1{
    font-size: 28px;
  }
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.historical-container{
  border: 1px solid;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
