
<div class="header-container">
  <h1>{{currency[0].key + '-' + currency[0].value}}</h1>
  <button class="btn btn-primary" routerLink="/">Back To Home</button>
</div>
<app-currecy-exchanger [type]="'about'"></app-currecy-exchanger>

<div class="historical-container">
  <ngx-charts-bar-vertical-2d

    [view]="[700, 400]"
    [scheme]="colorScheme"
    [results]="chartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="'Currencies'"
    [yAxisLabel]="'Rates'">
  </ngx-charts-bar-vertical-2d>

</div>
