.sticky-header {
  position: sticky;
  top: 0;
  //background-color: #f1f1f1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 100;
  background: white;
  .logo img{
    height: 40px;
  }
  .nav-links{
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav-links a {
    margin-left: 20px;
    color: #333;
    padding: 5px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .nav-links a.active {
    font-weight: bold;
    background-color: #333333;
    color: white;
  }

}

