
.main-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid;
  margin: 20px 0;
  padding: 20px;
  .flex_block{
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .currency_container{
      display: flex;
      flex-flow: row wrap;
      gap: 20px;
      justify-content: space-between;
    }
  }
  .input_container{
    p{
      margin-bottom: 3px!important;
    }
    select{
      min-width: 200px;
      padding: 5px 20px;
    }
  }
  .border-container{
    border: 1px solid ;
    width: fit-content;
    padding: 5px 20px;

  }
  .currency-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //gap: 20px;
    .border-container{
      flex: 0 0 48%;
      padding: 20px;
    }
    .new_button{
      height: 35px;
      flex: 0 0 48%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
